<section id="support" ng-controller="SupportController">
    <header>
        <back-button class="button-left header-button"
                     destination="backDestination"></back-button>
    </header>

    <div class="content">
        <h2><span class="cornflower-txt"><b>Support</b></span> For Your KeepKey
        </h2>

        <div class="menu">
            <ul>
                <li>
                    <button class="menu-item" ng-click="launchSupportTab()">
                        Web
                    </button>
                </li>
                <li>
                    <button class="menu-item" ng-click="openEmail()">Email
                    </button>
                </li>
            </ul>
        </div>
        <div class="menu-annotation">Telephone: +1-855-463-8550</div>
    </div>

    <div class="footer">
        KeepKey Firmware <span class="data">v{{device.major_version}}.{{device.minor_version}}.{{device.patch_version}}</span>
    </div>
</section>