<section id="add-account" ng-controller="AccountConfigController">
    <header>
        <back-button class="button-left header-button"></back-button>
    </header>

    <div class="content">
        <h2 ng-hide="updating">
            <span class="cornflower-txt"><b>Add a new account</b></span>
            To Your KeepKey
        </h2>
        <h2 ng-show="updating">
            <span class="cornflower-txt"><b>Update your account settings</b></span>
            On Your KeepKey
        </h2>
        <form name="form" novalidate>
            <div class="form-input-container">
                <div class="content-form-inner">
                    <div class="content-inner-centering">
                        <label>Account name</label>
                        <div class="invalid"
                             ng-messages="form.accountName.$error"
                             role="alert"
                             ng-show="form.accountName.$touched">
                            <div ng-message="required">
                                Required
                            </div>
                        </div>
                        <input name="accountName"
                               type="text"
                               autocomplete="off"
                               ng-model="walletName"
                               ng-disabled="creating"
                               required
                               focus>
                    </div>
                </div>
            </div>
            <button ng-hide="updating"
                    class="button"
                    type="submit"
                    ng-click="addAccount()"
                    ng-disabled="!form.$valid || creating">
                Add Account
            </button>
            <button ng-show="updating"
                    class="button"
                    type="submit"
                    ng-click="updateAccountName()"
                    ng-disabled="!form.$valid || creating">
                Update Account
            </button>
        </form>
    </div>

    <ng-include ng-if="creating"
                src="'app/popup/accountConfig/creating.tpl.html'"></ng-include>

    <div class="footer">
        <div class="left">
            <strong>{{device.label || 'KeepKey'}}</strong> connected
        </div>
    </div>
</section>