<section id="prerelease-device" ng-controller="SupportController">
    <div class="content">
        <h2>
            <p style="font-size: 18px">
                Device Error
            </p>
            <p>An error was detected on your device. Please
                <a target="_blank" href="https://support.keepkey.com/support/tickets/new">
                    contact support
                </a>. (Code: KH-00)
            </p>
        </h2>
        <div class="menu">
            <ul>
                <li>
                    <button class="menu-item" ng-click="launchSupportTab()">
                        Web
                    </button>
                </li>
                <li>
                    <button class="menu-item" ng-click="openEmail()">
                        Email {{supportEmailAddress}}
                    </button>
                </li>
            </ul>
        </div>
        <div class="menu-annotation">Telephone: {{supportPhoneNumber}}</div>
    </div>
</section>