<section id="bootloader" ng-controller="BootloaderController">
    <div class="content">
        <div class="content-inner">
            <div class="content-inner-centering" ng-if="firmwareAvailable">
                <h2>
                    <div class="cornflower-txt">
                        <b>KeepKey</b> firmware update.
                    </div>
                    <div>
                        If you initialized your KeepKey and generated a recovery
                        sentence, make sure you have access to it before 
                        continuing. Firmware updates may result in your device being
                        wiped, including the private keys stored on it.
                    </div>
                </h2>
                <a class="button" ng-click="updateFirmware()">Update Firmware</a>
            </div>
            <div class="content-inner-centering" ng-if="!firmwareAvailable">
                <h2>
                    <div class="cornflower-txt">
                        No firmware file available
                    </div>
                    <div>
                        KeepKey Chrome Wallet doesn't have firmware available
                        for your device. Please follow the instructions from the
                        device's manufacturer for updating your firmware.
                    </div>
                </h2>
            </div>
        </div>
    </div>
</section>