<section id="bootloader" ng-controller="BootloaderController">
    <header>
        <!--<settings-button class="button-left header-button"></settings-button>-->
    </header>

    <div class="content">
        <div class="content-inner">
            <div class="content-inner-centering" ng-if="firmwareAvailable">
                <h2>
                    <div class="cornflower-txt">
                        <b>KeepKey</b> firmware update.
                    </div>
                    <div>
                        Updating your firmware may result in your private keys
                        being erased. It is important that you have access to
                        your <b>recovery sentence</b> before continuing.
                        <b>Do not close Chrome</b> while the firmware update is
                        in progess. It will cause the update to fail and erase
                        your private keys.
                    </div>
                </h2>
                <a class="button" ng-click="updateFirmware()">Update Firmware</a>
            </div>
            <div class="content-inner-centering" ng-if="!firmwareAvailable">
                <h2>
                    <div class="cornflower-txt">
                        No firmware file available
                    </div>
                    <div>
                        KeepKey Wallet doesn't have firmware for your device.
                        Please follow the instructions from the device's
                        manufacturer for updating your firmware.
                    </div>
                </h2>
            </div>
        </div>
    </div>
</section>