<section id="device-settings" ng-controller="DeviceController">
    <header>
        <back-button class="button-left header-button"></back-button>
    </header>

    <div class="content">
        <h2><span class="cornflower-txt"><b>Settings</b></span> For Your <vendor-name></vendor-name></h2>

        <div class="menu">
          <ul>
            <li><button class="menu-item" ng-click="go('/label/settings', 'slideLeft')">Change Label</button></li>
            <li><button class="menu-item" ng-click="changePin()">{{device.pin_protection ? "Change PIN" : "Add PIN Protection"}}</button></li>
            <li><button class="menu-item" ng-click="wipeDevice()">Wipe Device</button></li>
            <li><button class="menu-item" ng-click="go('/support', 'slideLeft')">Contact Support</button></li>
          </ul>
        </div>
    </div>

    <div class="footer">
        <vendor-name></vendor-name> Firmware <span class="data">v{{device.major_version}}.{{device.minor_version}}.{{device.patch_version}}</span>
    </div>

    <notification-message></notification-message>
</section>