<div ng-controller="InitializationController">
    <header>
        <a class="button-left header-button" id="back" ng-click="go('/initialize', 'slideRight')">
            <div class="icon-back"></div>
        </a>
    </header>

    <div class="wallet-function">
        <div class="wallet-function-heading">
            <h2><span class="cornflower-txt"><b>Choose a Label</b></span> For Your KeepKey</h2>
        </div>

        <form name="form" novalidate>

            <div class="form-input-container">
                <label>Label</label>
                <input name="deviceLabel" type="text" placeholder="Name your KeepKey" ng-model="initializationData.label" required>
                <div ng-show="form.$submitted || form.deviceLabel.$touched">
                    <div ng-show="form.deviceLabel.$error.required" class="validation-failed-text">Your KeepKey must have a label</div>
                </div>
            </div>

            <button class="button" type="submit" ng-click="form.$valid && go('/pin', 'slideLeft')">Choose Label</button>
        </form>
    </div>
</div>