<div ng-controller="ResetController">
    <header>
        <a class="button-left header-button" id="back" ng-click="go('/initialize', 'slideRight')">
            <div class="icon-back"></div>
        </a>
    </header>

    <div class="wallet-function">
        <div class="wallet-function-heading">
            <h2><span class="cornflower-txt"><b>Choose a Label</b></span> For Your KeepKey</h2>
        </div>

        <form name="form" novalidate>

            <div class="form-input-container">
                <label>Label</label>
                <div class="invalid" ng-show="form.$submitted || form.deviceLabel.$touched">
                    <div ng-show="form.deviceLabel.$error.required">Required</div>
                </div>
                <input
                        name="deviceLabel"
                        type="text"
                        placeholder="Name your KeepKey"
                        ng-model="resetData.label"
                        required
                        focus>
            </div>

            <button class="button" type="submit" ng-click="sendLabelToDevice()">Choose Label</button>
        </form>
    </div>
</div>