<div id="confirm-exchange" ng-controller="ConfirmExchangeController">
    <header>
        <back-button class="button-left header-button"></back-button>
    </header>

    <div class="content">
        <h2>
            <span class="cornflower-txt">Approve conversion</span>
            <div>
                Convert
                <bitcoin-amount value="depositAmount"
                                currency="depositCurrency"></bitcoin-amount>
                to
                <bitcoin-amount value="withdrawalAmount"
                                currency="withdrawalCurrency"></bitcoin-amount>
                and send to {{withdrawalAccount}}.
            </div>
            <ng-include
                    src="'app/popup/buttonRequest/shapeshift-terms-of-service.tpl.html'">
            </ng-include>
        </h2>
        <button class="button" type="submit" ng-click="nextAction()">
            Approve
        </button>
    </div>

    <a class="text-link-button cancel" ng-click="cancelDeviceOperation();">Cancel</a>

</div>