<header>
  <a class="button-left header-button" id="back" ng-click="go('/passphrase', 'slideRight')"><div class="icon-back"></div></a>
</header>

<div id="content-wrapper">
  <div class="content" id="initializing">
    <h2><span class="cornflower-txt"><b>Almost Done!</b></span><br>
    Write down your recovery sentence displayed on your KeepKey.  This sentence serves as your device's backup. Save it in a safe and secure place.</h2>
    <a class="button" ng-click="go('/initialize', 'slideRight')">Cancel</a>
  </div>
</div>