<div class="menu">
    <ul>
        <li>
            <button class="menu-item"
                    ng-click="go('/transfer', 'slideLeft')">
                Transfer Between Accounts
            </button>
        </li>
        <li>
            <button class="menu-item" ng-click="go('/addAccount', 'slideLeft')">
                Add an Account
            </button>
        </li>
        <li>
            <button class="menu-item"
                    ng-click="go('/device', 'slideLeft')">
                Device Settings
            </button>
        </li>
    </ul>
</div>
