<div class="wallets">
    <div class="wallet online"
         ng-repeat="wallet in wallets | orderBy : 'accountNumber' track by wallet.id">
        <div class="connection-light"></div>
        <div class="go-side">
            <div class="go-btn">
                <a class="wallet-link" ng-click="goWallet(wallet)">
                    <div class="icon icon-forward"></div>
                </a>
            </div>
        </div>
        <div class="details">
            <div class="wallet-name" ng-bind="wallet.name"></div>
            <div>
                <wallet-balance
                        balance="wallet.highConfidenceBalance"
                        pending="wallet.lowConfidenceBalance">
                </wallet-balance>
                <div class="account-number">Account #{{wallet.accountNumber}}</div>
            </div>
        </div>
    </div>
</div>
