<div>
    <div class="pill-container">
        <button class="button"
                ng-class="{ selected: coinTypeFilter === defaultCoinTypeFilterValue }"
                ng-click="setCoinTypeFilter(defaultCoinTypeFilterValue)">
            {{defaultCoinTypeFilterValue}}
        </button>
        <button class="button"
                ng-repeat="coinType in coinTypes"
                ng-class="{ selected: coinTypeFilter === coinType }"
                ng-click="setCoinTypeFilter(coinType)">
            {{coinType}}
        </button>
    </div>

    <div class="wallets">
        <div class="wallet online"
             ng-repeat="wallet in wallets | filter : coinTypeFilter : isSelectedCoinType | orderBy : ['coinType', 'accountNumber'] track by wallet.id"
             ng-click="goWallet(wallet)">
            <div class="connection-light"></div>
            <div class="go-side">
                <div class="go-btn">
                    <a class="wallet-link">
                        <div class="icon icon-forward"></div>
                    </a>
                </div>
            </div>
            <div class="details">
                <div class="wallet-name" ng-bind="wallet.name"></div>
                <div>
                    <wallet-balance
                            balance="wallet.highConfidenceBalance + wallet.lowConfidenceBalance"
                            currency="wallet.coinType">
                    </wallet-balance>
                    <div class="account-number">
                        {{wallet.coinType}} Account #{{wallet.accountNumber}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
