/* Default Enter/Leave */
.ng-enter,
.ng-leave {
    transition-timing-function: ease;
    transition-duration: 250ms;
    transition-property: opacity;
}

.noAnimation.ng-enter, .noAnimation.ng-leave {
    transition-duration: 0s;
    transition-property: all;
}

.cross-fade.ng-enter {
    opacity: 0;
}

.cross-fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.cross-fade.ng-leave {
    opacity: 1;
}

.cross-fade.ng-leave.ng-leave-active {
    opacity: 0;
}

/* slideLeft and slideRight  */
.slideLeft.ng-enter, .slideLeft.ng-leave, .slideRight.ng-enter, .slideRight.ng-leave {
    -webkit-transition:all 1s;
    transition:all 1s;
    transition-duration: 500ms;
}

.slideLeft.ng-enter {
    left:100%;
}

.slideLeft.ng-leave {
    left:0;
}

.slideLeft.ng-enter.ng-enter-active {
    left:0;
}

.slideLeft.ng-leave.ng-leave-active {
    left:-100%;
}

.slideRight.ng-enter {
    left:-100%;
}

.slideRight.ng-leave {
    left:0;
}

.slideRight.ng-enter.ng-enter-active {
    left:0;
}

.slideRight.ng-leave.ng-leave-active {
    left:100%;
}