<section id="failure" ng-controller="FailureController">
    <header></header>

    <div class="content failure">
        <div class="content-inner-with-button">
            <div class="description">
                <div class="alert-icon">
                    <span class="fa fa-exclamation-triangle"></span>
                </div>
                <div class="failure-list ng-scope" ng-repeat="failure in failures">
                    <p>{{failure.message}}</p>
                </div>
            </div>
        </div>
        <a class="button" ng-click="ok()">OK</a>
    </div>

    <footer ng-include="'app/popup/footer/footer.tpl.html'"></footer>
</section>