<section id="firmware-available" ng-controller="UpdateFirmwareCtrl">
    <div class="content">
        <h2>
            <span class="cornflower-txt"><b>Firmware update</b> available.</span>
            <p>
                Unplug your KeepKey, then hold down the button while plugging it
                in to start the firmware update.
            </p>
            <p>For details on the changes in this update, see the
                <a target="_blank" href="https://support.keepkey.com/discussions/topics/6000037908">
                    release notes
                </a>.
            </p>
        </h2>
        <a class="text-link-button cancel" ng-if="skipable"
           ng-click="goToTop(false)">Skip</a>
    </div>
</section>