<section id="wallet-config" ng-controller="WalletConfigController">
    <header>
        <back-button class="button-left header-button"></back-button>
        <a class="button-right header-button refresh-button"
           ng-click="refresh()">
            <div class="icon icon-refresh"></div>
        </a>
    </header>

    <div class="content">
        <div class="wallet online">
            <div class="account-form container">
                <header>Account Settings</header>
                <div class="row">
                    <div class="label-column col-xs-4">Account ID:</div>
                    <div class="data-column col-xs-8">
                        <div ng-bind="wallet.id"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="label-column col-xs-4">Name:</div>
                    <div class="data-column col-xs-8">
                        <div contenteditable="true"
                             strip-br="true"
                             strip-tags="true"
                             noLineBreaks="true"
                             ng-model="wallet.name"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="label-column col-xs-4">Node path:</div>
                    <div class="data-column col-xs-8">
                        <div ng-bind="wallet.nodePath"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="label-column col-xs-4">xpub:</div>
                    <div class="data-column col-xs-8">
                        <div ng-bind="wallet.wallet.xpub"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <button class="menu-item" ng-click="delete()">
                        Delete Account
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer"><strong><device-label></device-label></strong> connected
    </div>
</section>