<section id="initialize" ng-controller="InitializationController">
    <header>
        <settings-button class="button-left header-button"></settings-button>
    </header>

    <div class="content">
        <div class="content-inner">
            <div class="content-inner-centering">
                <h2><span class="cornflower-txt">Your <b>KeepKey</b> needs to be initialized.</span>
                    Before you can use this KeepKey, it must be initialized.  During initialization, your private keys are generated.</h2>
            </div>
        </div>

        <a class="button" ng-click="go('/label/initialize', 'slideLeft')">Initialize <b>KeepKey</b></a>

        <a class="text-link-button" ng-click="go('/label/recover', 'slideLeft')">or Recover KeepKey</a>
    </div>
</section>