<section id="character-request" ng-controller="CharacterRequestController"
         tabindex="0" focus ng-keydown="onKeyPress($event)">
    <header>
        <back-button class="button-left header-button"
                     action="onCancel()">
        </back-button>
    </header>

    <div class="content">
        <h2>
            <span class="cornflower-txt">
                <b>Enter the private key</b>
            </span> For Your KeepKey
        </h2>
        <div class="word-list">
            <div ng-repeat="wordIndex in getEmptyArray(wordCount) track by $index">
                <span class="checkmark-container">
                    <span ng-show="wordCompleted($index)" class="fa fa-check"></span>
                </span>
                <span class="word-index">{{$index + 1}}.</span>
                <span class="word-representation" ng-class="{blink: isCursorPosition($parent.$index, $index)}"
                      ng-repeat="characterIndex in getEmptyArray(wordLength) track by $index">
                    {{getCharAtCurrentPosition($parent.$index, $index)}}
                </span>
            </div>
        </div>
    </div>

    <footer ng-include="'app/footer/footer.tpl.html'"></footer>
</section>