<section id="bootloader" ng-controller="BootloaderController">
    <header>
    </header>

    <div class="content">
        <h2>
            <span class="cornflower-txt">Your <b>KeepKey</b> is in firmware update mode.</span>
        </h2>
        <div class="button-bar">
            <a class="button" ng-click="eraseFirmware()">Erase Firmware</a>
            <a class="button" ng-click="updateFirmware()">Update Firmware</a>
        </div>
    </div>

    <footer ng-include="'app/footer/footer.tpl.html'"></footer>
</section>