<section id="passphrase" ng-controller="PassphraseController">
    <header></header>

    <div class="content">
        <h2>
            <span class="cornflower-txt">
                <b>Enter the Passphrase</b>
            </span>
            For Your <vendor-name></vendor-name>
        </h2>

        <form name="form" novalidate>

            <div class="form-input-container">
                <div class="content-form-inner">
                    <div class="content-inner-centering">
                        <label for="passphrase">Passphrase:</label>
                        <input name="passphrase"
                               type="password"
                               autocomplete="off"
                               focus
                               ng-model="userInput.passphrase">

                        <label for="confirmPassphrase">Confirm passphrase:</label>
                        <div class="invalid" ng-show="form.$submitted">
                            <div ng-show="form.confirmPassphrase.$error.compareTo">Must Match</div>
                        </div>
                        <input name="confirmPassphrase"
                               id="confirmPassphrase"
                               type="password"
                               ng-model="userInput.confirmPassphrase"
                               compare-to="userInput.passphrase"
                               autocomplete="off"/>
                    </div>
                </div>
            </div>

            <button class="button"
                    type="submit"
                    ng-click="sendPassphrase()">
                Send Passphrase
            </button>
        </form>
    </div>
</section>