<section id="wallet" ng-controller="WalletController">
    <header>
        <back-button ng-hide="singleAccount"
                     class="button-left header-button"></back-button>
        <a class="button-right header-button refresh-button"
           ng-click="refresh()">
            <div class="icon icon-refresh"></div>
        </a>
    </header>

    <div class="content">
        <div class="wallet online">
            <div class="connection-light"></div>
            <wallet-balance
                    class="details"
                    balance="wallet.highConfidenceBalance"
                    pending="wallet.lowConfidenceBalance"
                    loading="receiveDisabled()">
            </wallet-balance>
            <div class="account-number">Account #{{wallet.accountNumber}}</div>
        </div>

        <div class="menu">
            <ul>
                <li>
                    <button class="menu-item" ng-click="send()"
                            ng-disabled="!sendAllowed()">Send Money
                    </button>
                </li>
                <li>
                    <button class="menu-item" ng-click="receive()"
                            ng-disabled="receiveDisabled()">Receive Money
                    </button>
                </li>
                <li>
                    <button class="menu-item" ng-click="showTransactions()">
                        Transactions
                    </button>
                </li>
                <li ng-show="singleAccount">
                    <button class="menu-item"
                            ng-click="go('/device', 'slideLeft')">
                        Device Settings
                    </button>
                </li>
                <li>
                    <button class="menu-item" ng-click="accountSettings()">
                        Account Settings
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer">
        <div class="left">
            <strong>{{device.label || 'KeepKey'}}</strong> connected
        </div>
        <div class="new-account-link right" ng-if="singleAccount"
             ng-click="go('/addAccount', 'slideLeft')">
            Add account
        </div>
        <div class="wallet-name right" ng-if="!singleAccount" ng-bind="wallet.name"></div>
    </div>
</section>
