<section id="wallet" ng-controller="WalletController">
    <header>
        <back-button class="button-left header-button"
                     destination="'walletlist'"></back-button>
        <a class="button-right header-button refresh-button"
           ng-click="refresh()">
            <div class="icon icon-refresh"></div>
        </a>
    </header>

    <div class="content">
        <div class="wallet online">
            <div class="connection-light"></div>
            <wallet-balance
                    class="details"
                    balance="wallet.highConfidenceBalance"
                    pending="wallet.lowConfidenceBalance"
                    loading="receiveDisabled()">
            </wallet-balance>
        </div>

        <div class="menu">
            <ul>
                <li>
                    <button class="menu-item" ng-click="send()"
                            ng-disabled="!sendAllowed()">Send Money
                    </button>
                </li>
                <li>
                    <button class="menu-item" ng-click="receive()"
                            ng-disabled="receiveDisabled()">Receive Money
                    </button>
                </li>
                <li>
                    <button class="menu-item" ng-click="showTransactions()">
                        Transactions
                    </button>
                </li>
                <li>
                    <button class="menu-item"
                            ng-click="go('/device', 'slideLeft')">Device
                        Settings
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer"><strong>{{device.label || 'KeepKey'}}</strong> connected
    </div>
</section>