<section id="wallet" ng-controller="WalletController">
    <header>
        <back-button ng-hide="singleAccount"
                     class="button-left header-button"></back-button>
        <settings-button ng-show="singleAccount"
                         class="button-left header-button"></settings-button>
        <refresh-button class="button-right header-button"></refresh-button>
    </header>

    <div class="content">
        <account-balance
                account="wallet"
                loading="receiveDisabled()"
                name-display="number"
                single-account="singleAccount">
        </account-balance>

        <div class="menu">
            <ul>
                <li>
                    <button class="menu-item" ng-click="send()"
                            ng-disabled="!sendAllowed()">
                        Send Bitcoin
                    </button>
                </li>
                <li>
                    <button class="menu-item" ng-click="receive()"
                            ng-disabled="receiveDisabled()">Receive Bitcoin
                    </button>
                </li>
                <li>
                    <button class="menu-item" ng-click="showTransactions()">
                        Transactions
                    </button>
                </li>
                <li ng-hide="singleAccount">
                    <button class="menu-item" ng-click="accountSettings()">
                        Change Account Name
                    </button>
                </li>
                <li>
                    <button class="menu-item" ng-click="openBuyBitcoinWindow()">
                        Buy &amp; Sell Bitcoin
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer">
        <div class="left">
            <strong>{{device.label || 'KeepKey'}}</strong> connected
        </div>
        <add-account-button class="text-link-button right"
                            ng-if="singleAccount && !receiveDisabled()">
        </add-account-button>

        <div class="wallet-name right" ng-if="!singleAccount"
             ng-disabled="receiveDisabled()" ng-bind="wallet.name"></div>
    </div>
</section>
