<section id="character-request" ng-controller="CharacterRequestController"
         tabindex="0" focus ng-keydown="onKeyPress($event)">
    <header>
        <back-button class="button-left header-button"
                     action="onCancel()">
        </back-button>
    </header>

    <div class="content">
        <h2>
            <span class="cornflower-txt">
                <b>Enter your recovery sentence</b>
            </span>
        </h2>

        <div class="active-keys clearfix">
            <div class="key letter" ng-class="letterClasses"
                 tooltip-template="'app/popup/characterRequest/letterTooltip.tpl.html'"
                 tooltip-placement="bottom"
                 tooltip-append-to-body="true"
                 tooltip-class="key-help letters">
                A - Z
            </div>
            <div class="key space-bar" ng-class="spaceBarClasses"
                 tooltip-template="'app/popup/characterRequest/spaceTooltip.tpl.html'"
                 tooltip-placement="bottom"
                 tooltip-append-to-body="true"
                 tooltip-class="key-help space">
                Space
            </div>
            <div class="key end-of-key" ng-class="enterClasses"
                tooltip-template="'app/popup/characterRequest/enterTooltip.tpl.html'"
                tooltip-placement="bottom"
                tooltip-append-to-body="true"
                tooltip-class="key-help enter">
                Enter
            </div>
            <div class="key backspace" ng-class="backspaceClasses"
                tooltip-template="'app/popup/characterRequest/deleteTooltip.tpl.html'"
                tooltip-placement="bottom"
                tooltip-append-to-body="true"
                tooltip-class="key-help delete">
                Delete
            </div>
        </div>

        <div class="word-list clearfix">
            <!-- This would be better with -webkit-column-* styling, but it doesn't work correctly. -->
            <div class="column" ng-repeat="columnIndex in [0, 1, 2] track by columnIndex">
                <div ng-repeat="wordIndex in getColumnArray(wordCount, columnIndex) track by $index">
                    <span class="checkmark-container">
                        <span ng-show="wordCompleted(wordIndex)" class="fa fa-check"></span>
                    </span>
                    <span class="word-index">{{wordIndex + 1}}.</span>
                    <span class="word-representation"
                          ng-repeat="characterIndex in getEmptyArray(wordLength) track by $index">
                        {{getCharAtCurrentPosition(wordIndex, $index)}}
                    </span>
                </div>
            </div>
        </div>
        <div class="more-words-message" ng-show="moreWordsAvailable">Type a space to enter more words</div>
        <button class="button" disabled="disabled" ng-disabled="enterClasses.disabled"
                ng-click="send()">
            Done
        </button>
    </div>

    <footer ng-include="'app/popup/footer/footer.tpl.html'"></footer>
    <div class="overlay" ng-show="sendInProgress"></div>
</section>