<div class="account-balance-component online">
    <div ng-show="fresh.status" class="connection-light"></div>
    <div ng-hide="fresh.status" class="refreshing-balance"><i class="fa fa-refresh fa-spin" aria-hidden="true"></i></div>
    <wallet-balance
            class="details"
            balance="account.highConfidenceBalance"
            pending="account.lowConfidenceBalance"
            loading="loading"
            currency="currency">
    </wallet-balance>
    <div class="account-number" ng-hide="singleAccount">
        {{name}} <button ng-if="canEdit()" class="fa fa-pencil" ng-click="accountSettings()"></button>
    </div>
</div>
