<div class="noselect">
    <div class="content-pin-inner">
        <div class="content-inner-centering">
            <div class="help">Use PIN layout shown on KeepKey to find the location to press on this PIN pad.</div>
            <div class="pin-pad">
                <div class="pin-row">
                    <a class="button pin" ng-click="appendToPin(7)">•</a>
                    <a class="button pin" ng-click="appendToPin(8)">•</a>
                    <a class="button pin" ng-click="appendToPin(9)">•</a>
                </div>
                <div class="pin-row">
                    <a class="button pin" ng-click="appendToPin(4)">•</a>
                    <a class="button pin" ng-click="appendToPin(5)">•</a>
                    <a class="button pin" ng-click="appendToPin(6)">•</a>
                </div>
                <div class="pin-row">
                    <a class="button pin" ng-click="appendToPin(1)">•</a>
                    <a class="button pin" ng-click="appendToPin(2)">•</a>
                    <a class="button pin" ng-click="appendToPin(3)">•</a>
                </div>
                <div class="pin-display-container">
                    <div class="pin-view" ng-bind="displayPin"></div>
                    <i class="backspace fa fa-arrow-left"
                       ng-click="backspace()"
                       ng-show="displayPin.length"></i>
                </div>
            </div>
        </div>
    </div>
    <a class="button" ng-click="sendPin()">
        <span ng-bind="buttonText"></span>
    </a>
</div>