<div class="recipient-entry">
    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
            ({{match.model.coinType}} account #{{match.model.accountNumber}})
        </a>
    </script>
    <label ng-hide="useDropdown">{{labelVariation}}</label>
    <div class="invalid-recipient" ng-messages="field.$error" role="alert" ng-show="form.$submitted">
        <div ng-message="required">Required</div>
        <div ng-message="pattern">Invalid address / unknown account</div>
    </div>
    <input ng-if="!useDropdown"
           type="text"
           name="{{fieldName}}"
           autocomplete="off"
           ng-model="selected"
           ng-pattern="pattern"
           placeholder="{{placeholder}}"
           uib-typeahead="account as account.name for account in accounts | filter:{name:$viewValue}"
           typeahead-template-url="customTemplate.html"
           class="form-control"
           typeahead-show-hint="true"
           typeahead-min-length="0"
           required>
    <div class="btn-group" uib-dropdown is-open="status.isopen" ng-if="useDropdown">
        <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
            {{selected.name}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li role="menuitem" ng-repeat="account in accounts"
                ng-click="setDestinationAccount(account)">
                <a href="#" ng-click="$event.preventDefault()">
                    {{account.name}}
                </a>
            </li>
        </ul>
    </div>


</div>
