<section id="wallet" ng-controller="WalletController">
    <header>
        <!--<settings-button class="button-left header-button"></settings-button>-->
        <a class="button-right header-button refresh-button" ng-click="refresh()">
            <div class="icon icon-refresh"></div>
        </a>
    </header>

    <div class="content">
        <div class="wallet online">
            <div class="details">
                <h2 class="val">
                    <div class="connection-light"></div>
                    <span ng-bind="balance()"></span>
                    <span class="wallet-currency">{{btcFormatter.BITCOINS}}</span></h2>
                </h2>
            </div>
        </div>

        <div class="menu">
          <ul>
            <li><button class="menu-item" ng-click="send()" ng-disabled="!sendAllowed()">Send Money</button></li>
            <li><button class="menu-item" ng-click="receive()" ng-disabled="receiveDisabled()">Receive Money</button></li>
            <li><button class="menu-item" ng-click="go('/device', 'slideLeft')">Device Settings</button></li>
          </ul>
        </div>
    </div>

    <div class="footer"><strong>{{device.label || 'KeepKey'}}</strong> connected</div>
</section>