<section id="wallet" ng-controlle="WalletController">
    <header>
        <settings-button class="button-left header-button"></settings-button>
        <a class="button-right header-button refresh-button" ng-click="refresh()">
            <div class="icon icon-refresh"></div>
        </a>
    </header>

    <div class="content">
        <div class="wallet">
            <div class="connection-light">
            </div>
            <div class="details">
                <h2 class="val">23.01 <span>mbtc</span></h2>
            </div>
        </div>

        <div class="wallet-menu">
            <ul>
                <!-- <li><a class="button notification" href="#">Pay 43.6 mbtc</a></li> -->
                <li><a class="button" ng-click="go('/send', 'slideLeft')">Send</a></li>
                <li><a class="button" ng-click="go('/receive', 'slideLeft')">Receive</a></li>
                <!--<li><a class="button">Transaction History</a></li>-->
            </ul>
        </div>

        <a class="text-link-button" ng-click="wipeDevice()">Wipe Device</a>
    </div>

    <footer ng-include="'app/footer/footer.tpl.html'"></footer>
</section>