<section id="wallet" ng-controller="WalletController">
    <header>
        <settings-button class="button-left header-button"></settings-button>
        <a class="button-right header-button refresh-button" ng-click="refresh()">
            <div class="icon icon-refresh"></div>
        </a>
    </header>

    <div class="content">
        <div class="wallet online">
            <div class="details">
                <h2 class="val">
                    <div class="connection-light"></div>
                    <span ng-bind="balance()"></span>
                    <span class="wallet-currency">{{btcFormatter.BITCOINS}}</span></h2>
                </h2>
            </div>
        </div>

        <div class="wallet-menu">
            <ul>
                <li>
                    <button class="button detached-from-bottom" ng-click="send()" ng-disabled="!sendAllowed()">
                        Send
                    </button>
                </li>
                <li>
                    <button class="button detached-from-bottom" ng-click="receive()" ng-disabled="receiveDisabled()">
                        Receive
                    </button>
                </li>
            </ul>
        </div>

        <a class="text-link-button" ng-click="wipeDevice()">Wipe Device</a>
    </div>

    <footer ng-include="'app/footer/footer.tpl.html'"></footer>
</section>