<div ng-controller="TransactionListController">
    <table>
        <thead>
        <tr>
            <td>Date</td>
            <td>Time</td>
            <td>Address</td>
            <td>Received</td>
            <td>Sent</td>
            <td>Fee</td>
            <td>Balance</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="transaction in wallet.txHist">
            <td>{{transaction.date | date:'shortDate' }}</td>
            <td>{{transaction.date | date:'mediumTime'}}</td>
            <td><div ng-repeat="address in transaction.addresses track by $index">{{address}}</div></td>
            <td><span ng-show="transaction.amountReceived">{{transaction.amountReceived / 100000000 | number:8}}</span></td>
            <td><span ng-show="transaction.amountSent">{{transaction.amountSent / 100000000| number:8}}</span></td>
            <td><span ng-show="transaction.fee">{{transaction.fee / 100000000| number:8}}</span></td>
            <td><span>{{transaction.balance / 100000000| number:8}}</span></td>
            <td><a href="{{transaction.link}}">details</a><span ng-show="transaction.pending">(pending)</span></td>
        </tr>
        </tbody>
    </table>
</div>