<header>
  <a class="button-left header-button" id="settings"><div class="icon-settings"></div></a>
  <h1>Trove</h1>
  <!-- <div class="button-right header-button" id="refresh"><div class="icon-refresh"></div></div> -->
  <a class="button-right header-button" id="create" ng-click="go('/creating', 'slideLeft')"><div class="icon-create"></div></a>
</header>

<div id="content-wrapper">
  <div class="content">
      <h2><span class="cornflower-txt">Your <b>KeepKey</b> needs to be initialized</span>
      before you can use it.</h2>
      <a class="button" ng-click="go('/initializing', 'slideLeft')">Initialize <b>KeepKey</b></a>
  </div>
</div>