<div>
    <div ng-if="$prevScope.oldFirmwareVersion">
        <div class="scrollable">
            <div>
                Update to the latest version of <vendor-name></vendor-name> for
                maximum security against malware. Your current version of
                <vendor-name></vendor-name> relies on the computer to provide an
                address for the destination account. The latest version of
                <vendor-name></vendor-name> looks up the destination address on
                the device where malware cannot change it.
            </div>
        </div>
        <button class="button"
                ng-click="$root.go('/update-firmware')">
            Update Firmware
        </button>
    </div>
    <div
            ng-if="!$prevScope.oldFirmwareVersion">
        <div class="scrollable">
            <div>
                Transferring funds between accounts on your
                <vendor-name></vendor-name> is vulnerable to malware.
                <vendor-name></vendor-name> relies on the computer to provide an
                address for the destination account. This gives malware an
                opportunity to change the destination of the funds.
            </div>
            <div>
                KeepKey looks up the destination address on the device where
                malware cannot change it.
            </div>
        </div>
        <button class="button" ng-click="$root.openBuyKeepkeyWindow()">
            Upgrade to a KeepKey
        </button>
    </div>
</div>
