<section id="build-transaction" ng-controller="SendController">
    <header>
        <back-button class="button-left header-button"></back-button>
    </header>

    <div class="content">
        <div ng-show="showForm">
            <account-balance
                    account="wallet"
                    single-account="singleAccount"
                    loading="false"
                    name-display="name">
            </account-balance>


            <form name="form" novalidate>
                <div class="form-input-container">
                    <div class="content-form-inner">
                        <div class="content-inner-centering">
                            <recipient-entry
                                    recipient="userInput.address"
                                    field-name="dest"
                                    form="form"
                                    label="Send bitcoin to:"
                                    current-account="wallet.id"
                                    disabled="preparingTransaction">
                            </recipient-entry>

                            <amount-entry
                                    amount="userInput.amount"
                                    max-amount="maxAmount.max"
                                    field-name="amount"
                                    form="form"
                                    disable="preparingTransaction">
                            </amount-entry>

                            <fee-selector
                                    ng-show="config.showFeeSelector"
                                    estimated-fees="estimatedFee.fee"
                                    selected="userInput.feeLevel"
                                    active="!preparingTransaction && userInput.amount > 0">
                            </fee-selector>

                            <div class="fee-display"
                                 ng-show="getFee(userInput.feeLevel) > 0">
                                <label>Fee:</label>
                                <bitcoin-amount class="fee"
                                                amount="getFee(userInput.feeLevel)"></bitcoin-amount>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="button" type="submit"
                        ng-disabled="preparingTransaction"
                        ng-click="buildTransaction()">Send
                </button>
            </form>
        </div>
        <div ng-hide="showForm">
            Can't send from an account with a high confidence balance of 0
        </div>
        <div class="bottom-stripe" ng-class="{open: showSecurityPanel}"
             ng-if="showSecurityStripe" ng-click="toggleSecurityPanel()">
            <header>Security Alert</header>
            <div>
                Transferring funds between accounts on your
                <vendor-name></vendor-name>
                may be vulnerable to malware on your computer.
                <vendor-name></vendor-name> relies on the computer to lookup and
                provide the an address for the destination account. This gives
                malware a chance to change the address before it is sent to your
                <vendor-name after="."></vendor-name>
            </div>
            <div>
                KeepKey firmware version 1.1.0 and later looks up the address on
                the device so that malware doesn’t have the chance to change it.
            </div>
            <button class="button" ng-if="oldFirmwareVersion"
                    ng-click="go('/update-firmware')">
                Update Firmware
            </button>
            <button class="button" ng-click="openBuyKeepkeyWindow()"
                    ng-if="!oldFirmwareVersion && vendorName !== 'KeepKey'">
                Upgrade to a KeepKey
            </button>
        </div>
    </div>
    </div>
    <ng-include src="'app/popup/send/preparing.tpl.html'"
                ng-if="preparingTransaction"></ng-include>
</section>