<section id="build-transaction" ng-controller="SendController">
    <header>
        <back-button class="button-left header-button"></back-button>
    </header>

    <div class="content">
        <div ng-show="showForm">
            <account-balance
                    account="wallet"
                    single-account="singleAccount"
                    loading="false"
                    name-display="name" currency="currency">
            </account-balance>

            <form name="form" novalidate>
                <div class="form-input-container">
                    <div class="content-form-inner">
                        <div class="content-inner-centering">
                            <recipient-entry
                                    recipient="userInput.address"
                                    field-name="dest"
                                    form="form"
                                    currency-name="{{currency}}"
                                    current-account="wallet.id"
                                    address-allowed="true"
                                    transfer-allowed="true"
                                    exchange-allowed="true"
                                    disabled="preparingTransaction">
                            </recipient-entry>

                            <amount-entry
                                    label="Amount"
                                    amount="userInput.amount"
                                    max-amount="maxAmount.max"
                                    field-name="amount"
                                    form="form"
                                    disable="preparingTransaction">
                            </amount-entry>

                            <fee-selector
                                    ng-show="config.showFeeSelector"
                                    estimated-fees="estimatedFee.fee"
                                    selected="userInput.feeLevel"
                                    active="!preparingTransaction && userInput.amount > 0">
                            </fee-selector>

                            <div class="fee-display"
                                 ng-show="getFee(userInput.feeLevel) > 0">
                                <label>Fee:</label>
                                <bitcoin-amount class="fee"
                                                amount="getFee(userInput.feeLevel)"
                                                currency="currency"></bitcoin-amount>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="button" type="submit"
                        ng-disabled="preparingTransaction"
                        ng-click="buildTransaction()">
                    {{buttonText}}
                </button>
            </form>
        </div>
        <div ng-hide="showForm">
            Can't send from an account with a high confidence balance of 0
        </div>
    </div>
    <ng-include src="'app/popup/send/preparing.tpl.html'"
                ng-if="preparingTransaction"></ng-include>
</section>