<section id="initialized" ng-controller="InitializedController">
    <header>
        <settings-button class="left header-button"></settings-button>
        <a class="refresh-button right header-button" ng-click="refresh()">
            <span class="fa fa-refresh"></span>
        </a>
    </header>

    <div class="content">
        <div class="wallet-list btn-group-vertical" role="group">
            <div class="clearfix btn btn-default"
                 type="button"
                 ng-repeat="wallet in wallets track by wallet.id">
                <span class="currency-icon fa fa-btc"></span>
                <span class="wallet-name"
                      editable-text="wallet.name"
                      onshow="false"
                      e-required
                      buttons="no"
                      blur="submit">{{wallet.name}}</span>
                <a ng-click="goReceive(walletAddress(wallet), wallet.id)">
                    <span class="wallet-address" ng-bind="walletAddress(wallet)"></span>
                </a>
                <span class="wallet-balance" ng-bind="getBalance(wallet.hdNode)"></span>
                <span class="wallet-confirmations fa"
                      ng-class="getConfirmationClasses(wallet.hdNode)"
                      tooltip="{{getConfirmationTooltip(wallet.hdNode)}}"
                      tooltip-placement="left"></span>
                <span class="wallet-send fa fa-cloud-upload"
                      ng-click="go('/buildTransaction/' + wallet.id, 'slideLeft')"></span>
            </div>
        </div>
        <a class="text-link-button" ng-click="wipeDevice()">Wipe Device</a>
    </div>

    <footer ng-include="'app/footer/footer.tpl.html'"></footer>
</section>