<section id="initialized" ng-controller="InitializedController">
    <header>
        <settings-button class="button-left header-button"></settings-button>
        <a class="button-right header-button refresh-button" ng-click="refresh()"><div class="icon icon-refresh"></div></a>
    </header>

      <div class="content">
<!--    <div class="wallet-list btn-group-vertical" role="group">
            <div class="clearfix btn btn-default"
                 type="button"
                 ng-repeat="wallet in wallets track by wallet.id">
                <span class="currency-icon fa fa-btc"></span>
                <span class="wallet-name"
                      editable-text="wallet.name"
                      onshow="false"
                      e-required
                      buttons="no"
                      blur="submit">{{wallet.name}}</span>
                <a ng-click="goReceive(walletAddress(wallet.id), wallet.id)">
                    <span class="wallet-address" ng-bind="walletAddress(wallet.id)"></span>
                </a>
                <span class="wallet-balance" ng-bind="getBalance(wallet.hdNode)"></span>
                <span class="wallet-confirmations fa"
                      ng-class="getConfirmationClasses(wallet.hdNode)"
                      tooltip="{{getConfirmationTooltip(wallet.hdNode)}}"
                      tooltip-placement="left"></span>
                <span class="wallet-send fa fa-cloud-upload"
                      ng-click="go('/buildTransaction/' + wallet.id, 'slideLeft')"></span>
            </div>
        </div> -->
        <a class="text-link-button" ng-click="wipeDevice()">Wipe Device</a>
    </div>

    <div class="wallets">
      <div class="wallet online" ng-repeat="wallet in wallets track by wallet.id">
          <div class="connection-light">
          </div>
          <div class="details">
            <h2 class="val"><span ng-bind="getBalance(wallet.hdNode)"></span> <span class="wallet-currency"> btc</span></h2>
            <h3 class="wallet-name">{{wallet.name}} <a class="wallet-link-qr" ng-click="goReceive(walletAddress(wallet.id), wallet.id)">QR</a></h3>
          </div>
          <div class="go-side">
            <div class="go-btn"><a class="wallet-link-send" ng-click="go('/buildTransaction/' + wallet.id, 'slideLeft')"><div class="icon icon-forward"></div></a></div>
          </div>
      </div>
    </div>
</section>