<section id="build-transaction" ng-controller="BuildTransactionController">
    <header>
        <back-button class="button-left header-button" destination="'/initialized'"></back-button>
    </header>

    <div class="content">
        <div ng-show="walletTransactions.balance">
            <h2><span class="cornflower-txt"><b>Send Bitcoins</b></span> from your KeepKey</h2>

            <form name="transaction">
                <div class="form-input-container">
                    <div class="from-label">From:</div>
                <span class="cornflower-txt">
                    <b ng-bind="userInput.sourceName"></b>
                </span>
                </div>
                <div class="form-input-container">
                    <label>To:</label>
                    <input
                            type="text"
                            name="dest-address"
                            placeholder="Enter the recipient address"
                            ng-model="userInput.address"
                            required
                            focus>
                </div>
                <div class="form-input-container">
                    <label>Amount:</label>
                    <input
                            type="number"
                            name="amount"
                            placeholder="Amount to send"
                            ng-model="userInput.amount"
                            required
                            focus
                            min="0"
                            max="{{getMaxAmount()}}">
                </div>
                <div class="form-input-container">
                    <label>Estimated network fee:</label>
                    <span ng-bind="estimatedFee.fee"></span>
                    <select ng-model="userInput.feeLevel" ng-options="option for option in feeOptions"></select>
                </div>
                <button
                        class="button"
                        ng-click="buildTransaction()"
                        ng-disabled="signButtonDisabled()">
                    Sign
                </button>
            </form>
        </div>
        <div ng-hide="walletTransactions.balance">
            Can't send when the wallet doesn't have a balance
        </div>
    </div>

    <footer ng-include="'app/footer/footer.tpl.html'"></footer>
</section>