<section id="failure" ng-controller="FailureController">
    <header>
        <settings-button class="button-left header-button"></settings-button>
    </header>

    <div class="content">
        <h2>
            <span class="cornflower-txt">Your action was unsuccessful.</span>
        </h2>
        <div class="failure-list" ng-repeat="failure in failures">
            <div>{{failure.code}}: {{failure.message}}</div>
        </div>
        <a class="button" ng-click="ok()">OK</b></a>
    </div>

    <footer ng-include="'app/footer/footer.tpl.html'"></footer>
</section>